<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    <div class="main-content">
        {{>header}}
        App to get the weather
      <form >
        <input type="text" placeholder="Location">
        <button>Search</button>
     </form>
     <p id="message-1"></p>
     <p id="message-2">Write Location then click search</p>
     <div id="temp">
          <span id="message-3"></span>
          <sup id="deg"></sup>
     </div>


    </div>

    {{>footer}}
     <script src="/js/app.js"></script>
</body>

</html>